body {
    background-image: linear-gradient(white, #d5d5d5);
    font-family: 'Abel';
    border-style: double;
    font-size: 16px;
    text-align: justify;
    padding-left: 1%;
    padding-right: 1%;
}

/*Top Navigation/Timetable*/
.topGrad {
    padding-left: 10px;
}

.rightSide {
    display: inline-block;
    right: 0px;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
}
.direct {
    font-size: 1em;
}


/*Headers*/
h1 {
    text-align: center;
    text-decoration: underline;
    font-size: 1.5em;
}

h2 {
    font-size: 1.2em;
}



caption {
    color: black;
    margin-bottom: 5px;
    font-weight: bold;
    text-transform: uppercase;
}

small {
    font-size: 14px;
    line-height: 15px;
}

.anchor {
    text-align: right;
}

/*Img and images*/
.axol {
    text-align: center;
}

img {
    max-width: 100%;
}


/*Weekly Posts*/
.weekly {
    font-size: 1em;
    padding-right: 15px;
    padding-left: 10px;
    border-style: outset;
    box-shadow: 3px 3px 3px grey, -3px -3px 3px grey;
}
time {
    font-weight: bold;
}

/*TimeTable Specific*/
table {
    border: 1px solid black;
    border-collapse: collapse;

    padding-left: 5%;
    display: none;
    
}

th {
    background-color: #666;
    padding: .8em .2em .2em .2em;
    border: .1em solid #FFF;
    color: #FFF;
}

td {
    border: .1em solid #666;
    padding: .2em;

}

td:empty {
    background-color: #ccc;
}

@media (min-width: 1170px) {
    table {
        display: contents;
    }

    .leftSide {
        width: 50%;
        display: inline-block;
    }
}